<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>969104891215-ripuj8t51ifobd6s3uog8jtdrbd1rui2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.969104891215-ripuj8t51ifobd6s3uog8jtdrbd1rui2</string>
	<key>API_KEY</key>
	<string>AIzaSyDjFWdVMlemu943WPpnmhB4jmD4XLY-WKk</string>
	<key>GCM_SENDER_ID</key>
	<string>969104891215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ak.co.flashifyApp</string>
	<key>PROJECT_ID</key>
	<string>flashify-chat-flutter-app</string>
	<key>STORAGE_BUCKET</key>
	<string>flashify-chat-flutter-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969104891215:ios:f6c2c47d25b3baf145f93a</string>
</dict>
</plist>